{% extends 'accounts/base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
  <div class="columns is-centered">
    <div class="column is-half">
        <form action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label" for="{{ form.full_name.id_for_label }}">Nome completo</label>
          </div>
          <div class="field-body">
            <div class="field">
                <div class="control">
                {{ form.full_name }}
              </div>
              {% if form.full_name.errors %}
                <div class="tag is-danger is-light is-medium">
                  {{ form.full_name.errors }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label" for="{{ form.username.id_for_label }}">Username</label>
          </div>
          <div class="field-body">
            <div class="field">
                <div class="control">
                {{ form.username }}
              </div>
              {% if form.username.errors %}
                <div class="tag is-danger is-light is-medium">
                  {{ form.username.errors }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label" for="{{ form.email.id_for_label }}">Email</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                {{ form.email }}
              </div>
              {% if form.email.errors %}
                <div class="tag is-danger is-light is-medium">
                  {{ form.email.errors }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label" for="{{ form.password.id_for_label }}">Senha</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                {{ form.password }}
              </div>
              {% if form.password.errors %}
                <div class="tag is-danger is-light is-medium">
                  {{ form.password.errors }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">

          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
